{% extends 'Layout.html' %} {% block body%}

</script>
<div class="row">
    <div class="col-md-5">

        {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %} {% endif %} {% endwith %}

        <div class="card card-body">
            <form action="/AddDireccion" method="POST">

                <div class="form-group">
                    <select class="form-control" name="IdCliente" id="IdCliente">
                    {% for cliente in Clientes %}
                        {%if cliente.Estatus=="A"%}
                          <option value="{{cliente.IdCliente}}" selected>{{cliente.Nombre}}</option>
                        {%endif%}
                    {% endfor %}
                    </select>
                </div>
                
                <div class="form-group">
                    <select class="form-control" name="IdCiudad" id="IdCiudad">
                    {% for cli in Ciudad %}
                        {%if cli.estatus=="A"%}
                          <option value="{{cli.idCiudad}}" selected>{{cli.nombre}}</option>
                        {%endif%}
                    {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <input type="text" name="Calle" id="Calle" placeholder="Calle" class="form-control" required>
                </div>

                <div class="form-group">
                    <input type="number" name="Numero" id="Numero" placeholder="Num Ext." class="form-control" required>
                </div>

                <div class="form-group">
                    <input type="text" name="Colonia" id="Colonia" placeholder="Colonia" maxlength="13" class="form-control" required>
                </div>
                <div class="form-group">
                    <input type="number" maxlength="5" name="CP" id="CP" placeholder="Código Postal" class="form-control" required>
                </div>

                <div class="form-group">
                    <select class="form-control" name="Tipo" id="Tipo">
                        <option value="H" selected>Hogar</option>
                        <option value="E" selected>Empresa</option>
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control" name="Estatus" id="Estatus">
                        <option value="A" selected>Activo</option>
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-block">
                        Guardar
                    </button>
                </div>

            </form>
        </div>
    </div>

    <div class="col-md-7">
        <p>Direcciones de Clientes</p>
        <table class="table table-striped table-bordered bg-white table-sm">
            <thead>
                <tr>
                    <td>IdDireccion</td>
                    <td>Cliente</td>
                    <td>Ciudad</td>
                    <td>Calle</td>
                    <td>Número</td>
                    <td>Colonia</td>
                    <td>C. Postal</td>
                    <td>Tipo</td>
                    <td>Estatus</td>
                </tr>
            </thead>
            <tbody>
                {% for cli in Direccion %}
                    {%if (cli.idDireccion) <= (PosicionA*5) and (cli.idDireccion) >= ((PosicionA*5)-4) %}
                    <tr>
                        <td>{{cli.idDireccion}}       </td>
                        <td>{{cli.Cliente.Nombre}}       </td>
                        <td>{{cli.Ciudad.nombre}}       </td>
                        <td>{{cli.calle}}       </td>
                        <td>{{cli.numero}}       </td>
                        <td>{{cli.colonia}}       </td>
                        <td>{{cli.codigoPostal}}       </td>
                        <td>{{cli.tipo}}       </td>
                        {%if cli.estatus=="A"%}
                        <td>Activo      </td>
                        <td>
                        <a href="/EditDireccion/{{cli.idDireccion}}" class="btn btn-warning btn-block">Editar</a>
                        <a href="/DeleteDireccion/{{cli.idDireccion}}" class="btn btn-danger btn-block btn-delete">Eliminar</a>
                        </td>
                        {%else%}
                        <td style="background-color:#FF0000">Inactivo</td>
                        <td>
                            <a href="/EditDireccion/{{cli.idDireccion}}" class="btn btn-warning btn-block">Editar</a>
                            
                        </td>
                        {%endif%}
                        
                    </tr>
                    {% endif%}
                {% endfor %}
            </tbody>
        </table>

        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {%if PosicionA > 1 %}
              <li class="page-item"><a class="page-link" href="/DireccionesClientes/{{PosicionA-1}}">Previous</a></li>
              {% endif %}
              {% for x in range(PaginasA) %}
              <li class="page-item" selected><a class="page-link" href="/DireccionesClientes/{{x+1}}">{{x+1}}</a></li>
              {% endfor %}
              {%if PosicionA < PaginasA %}
              <li class="page-item"><a class="page-link" href="/DireccionesClientes/{{PosicionA+1}}">Next</a></li>
              {% endif %}
            </ul>
          </nav>

        
    </div>
</div>

{% endblock %}