{% extends 'Layout.html' %} {% block body%}


<div class="row">
    <div class="col-md-5">

        {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %} {% endif %} {% endwith %}

        <div class="card card-body">
            <form action="/AddParcela" method="POST">

                <div class="form-group">
                    <select class="form-control" name="IdCliente" id="IdCliente">
                    {% for cliente in Clientes %}
                        {%if cliente.Estatus=="A"%}
                          <option value="{{cliente.IdCliente}}" selected>{{cliente.Nombre}}</option>
                        {%endif%}
                    {% endfor %}
                    </select>
                </div>
                
                <div class="form-group">
                    <select class="form-control" name="IdCultivo" id="IdCultivo">
                    {% for cli in Cultivo %}
                        {%if cli.Estatus=="A"%}
                          <option value="{{cli.IdCultivo}}" selected>{{cli.Nombre}}</option>
                        {%endif%}
                    {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <select class="form-control" name="IdDireccion" id="IdDireccion">
                    {% for cli in Direccion %}
                        {%if cli.estatus=="A"%}
                          <option value="{{cli.idDireccion}}" selected>{{cli.Cliente.Nombre}} --{{cli.Ciudad.nombre}} --{{cli.tipo}} </option>
                        {%endif%}
                    {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <input type="number" name="Extension" id="Extension" placeholder="Cantidad de Hectareas" class="form-control" required>
                </div>

                
                <div class="form-group">
                    <select class="form-control" name="Estatus" id="Estatus">
                        <option value="A" selected>Activo</option>
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-block">
                        Guardar
                    </button>
                </div>

            </form>
        </div>
    </div>

    <div class="col-md-7">
        <p>Parcelas</p>
        <table class="table table-striped table-bordered bg-white table-sm">
            <thead>
                <tr>
                    <td>IdParcela</td>
                    <td>Cliente</td>
                    <td>Cultivo</td>
                    <td>Direccion-Regitrada</td>
                    <td>Extension en hectáreas</td>
                    <td>Estatus</td>
                </tr>
            </thead>
            <tbody>
                {% for cli in Parcela %}
                {%if (cli.idParcela) <= (PosicionA*5) and (cli.idParcela) >= ((PosicionA*5)-4)%}
                <tr>
                    <td>{{cli.idParcela}}       </td>
                    <td>{{cli.Cliente.Nombre}}       </td>
                    <td>{{cli.Cultivo.Nombre}}       </td>
                    <td>{{cli.Cliente.Nombre}} --{{cli.Direccion.Ciudad.nombre}} --{{cli.Direccion.tipo}} </td>
                    <td>{{cli.extension}}       </td>
                    {%if cli.estatus=="A"%}
                        <td>Activo      </td>
                        <td>
                        <a href="/EditParcela/{{cli.idParcela}}" class="btn btn-warning btn-block">Editar</a>
                        <a href="/DeleteParcela/{{cli.idParcela}}" class="btn btn-danger btn-block btn-delete">Eliminar</a>
                        </td>
                        {%else%}
                        <td style="background-color:#FF0000">Inactivo</td>
                        <td>
                            <a href="/EditParcela/{{cli.idParcela}}" class="btn btn-warning btn-block">Editar</a>
                            
                        </td>
                        {%endif%}
                        
                </tr>
                {%endif%}
                {% endfor %}
            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {%if PosicionA > 1 %}
              <li class="page-item"><a class="page-link" href="/Parcelas/{{PosicionA-1}}">Previous</a></li>
              {% endif %}
              {% for x in range(PaginasA) %}
              <li class="page-item" selected><a class="page-link" href="/Parcelas/{{x+1}}">{{x+1}}</a></li>
              {% endfor %}
              {%if PosicionA < PaginasA %}
              <li class="page-item"><a class="page-link" href="/Parcelas/{{PosicionA+1}}">Next</a></li>
              {% endif %}
            </ul>
          </nav>
        
    </div>
</div>

{% endblock %}