{% extends 'Layout.html'%} {% block body %}
<div class="col-md-8 offset-md-2">
    <div class="card card-body">
        <form action="/Parcelas/modificar" method="POST">

            <div class="form-group">
                <input type="number" value="{{Parcela.idParcela}}" name="IdParcela" placeholder="IdParcela" class="form-control" readonly>
            </div>

            <div class="form-group">
                <select class="form-control" name="IdCliente" id="IdCliente">
                {% for cliente in Clientes %}
                    {%if cliente.Estatus=="A"%}
                      <option value="{{cliente.IdCliente}}" >{{cliente.Nombre}}</option>
                    {%endif%}
                {% endfor %}
                <option value="{{Parcela.Cliente.IdCliente}}" selected>{{Parcela.Cliente.Nombre}}</option>
                </select>
            </div>
            
            <div class="form-group">
                <select class="form-control" name="IdCultivo" id="IdCultivo">
                {% for cli in Cultivo %}
                    {%if cli.Estatus=="A"%}
                      <option value="{{cli.IdCultivo}}" >{{cli.Nombre}}</option>
                    {%endif%}
                {% endfor %}
                <option value="{{Parcela.Cultivo.IdCultivo}}" selected>{{Parcela.Cultivo.Nombre}}</option>
                </select>
            </div>

            <div class="form-group">
                <select class="form-control" name="IdDireccion" id="IdDireccion">
                {% for cli in Direccion %}
                    {%if cli.estatus=="A"%}
                      <option value="{{cli.idDireccion}}">{{cli.idDireccion}}</option>
                    {%endif%}
                {% endfor %}
                <option value="{{Parcela.idDireccion}}" selected>{{Parcela.idDireccion}}</option>
                </select>
            </div>

            <div class="form-group">
                <input type="number" value="{{Parcela.extension}}" name="Extension" id="Extension" placeholder="Extension" class="form-control" required>
            </div>

            
                <select class="form-control" name="Estatus" id="Estatus">
                    {%if Parcela.estatus=="A"%}
                      <option value="{{Parcela.estatus}}" selected>Activo</option>
                      <option value="I">Inactivo</option>
                    {%endif%}
                    {%if Parcela.estatus=="I"%}
                      <option value="{{Parcela.estatus}}" selected>Inactivo</option>
                      <option value="A" >Activo</option>
                    {%endif%}
                </select>
            </div>
            
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-block">
                    Guardar
                </button>
            </div>

        </form>
    </div>
</div>
{% endblock %}