{% extends 'Layout.html' %} {% block body%}


<div class="row">
    <div class="col-md-5">

        {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %} {% endif %} {% endwith %}

        <div class="card card-body">
            <form action="/AddEnvio" method="POST">
                <div class="form-group">
                    <select class="form-control" name="idUnidadTransporte" id="idUnidadTransporte">
                    {% for cliente in Unidades %}
                        {%if cliente.estatus=="A"and cliente.tipo=="E" %}
                          <option value="{{cliente.idUnidadTransporte}}" selected> Unidad Envio: {{cliente.modelo}} {{cliente.marca}}</option>
                        {%endif%}
                    {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <input type="date"  id="fechaInicio" name="fechaInicio" placeholder="FechaInicio" class="form-control" required>
                </div>

                <div class="form-group">
                    <input type="date"  id="fechaFin" name="fechaFin" placeholder="FechaIFinal" class="form-control" required>
                </div>

                <div class="form-group">
                    <input type="text" id="pesoTotal"  name="pesoTotal" placeholder="Peso Total en Toneladas" maxlength="100" class="form-control" required>
                </div>
                
                <div class="form-group">
                    <select class="form-control" name="estatus" id="estatus">
                        <option value="A" selected>Activo</option>
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-block">
                        Guardar
                    </button>
                </div>

            </form>
        </div>
    </div>

    <div class="col-md-7">
        <p>Envios</p>
        <table class="table table-striped table-bordered bg-white table-sm">
            <thead>
                <tr>
                    <td>IdEnvio</td>
                    <td>UnidadTransporte</td>
                    <td>Fecha Inicio</td>
                    <td>Fecha Fin</td>
                    <td>Peso en Toneladas</td>
                    <td>Estatus</td>
                </tr>
            </thead>
            <tbody>
                {% for cli in Direccion %}
                {%if (cli.idEnvio) <= (PosicionA*5) and (cli.idEnvio) >= ((PosicionA*5)-4)%}
                <tr>
                    <td>{{cli.idEnvio}}       </td>
                    <td>{{cli.Unidad.marca}}  {{ cli.Unidad.modelo}}</td>
                    <td>{{cli.fechaInicio}}       </td>
                    <td>{{cli.fechaFin}}       </td>
                    <td>{{cli.pesoTotal}}       </td>
                    {%if cli.estatus=="A"%}
                        <td>Activo      </td>
                        <td>
                        <a href="/EditEnvio/{{cli.idEnvio}}" class="btn btn-warning btn-block">Editar</a>
                        <a href="/DeleteEnvio/{{cli.idEnvio}}" class="btn btn-danger btn-block btn-delete">Eliminar</a>
                        </td>
                        {%else%}
                        <td style="background-color:#FF0000">Inactivo</td>
                        <td>
                            <a href="/EditEnvio/{{cli.idEnvio}}" class="btn btn-warning btn-block">Editar</a>
                            
                        </td>
                        {%endif%}
                </tr>
                {%endif%}
                {% endfor %}
            </tbody>
        </table>
        
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {%if PosicionA > 1 %}
              <li class="page-item"><a class="page-link" href="/Envios/{{PosicionA-1}}">Previous</a></li>
              {% endif %}
              
              {%if PosicionA < PaginasA %}
              <li class="page-item"><a class="page-link" href="/Envios/{{PosicionA+1}}">Next</a></li>
              {% endif %}
            </ul>
          </nav>
          <h1 align="center">Pagina: {{PosicionA}}</h1>

    </div>
</div>

{% endblock %}