{% extends 'Layout.html'%} {% block body %}
<div class="col-md-8 offset-md-2">
    <div class="card card-body">
        <form action="/Envio/modificar" method="POST">

            <div class="form-group">
                <input type="number" value="{{Direccion.idEnvio}}"  id="idEnvio" name="idEnvio" placeholder="idEnvio" class="form-control" readonly required>
            </div>


            <div class="form-group">
                <select class="form-control" name="idUnidadTransporte" id="idUnidadTransporte">
                {% for cliente in Unidades %}
                    {%if cliente.estatus=="A"%}
                      <option value="{{cliente.idUnidadTransporte}}">{{cliente.modelo}} {{cliente.marca}}</option>
                    {%endif%}
                {% endfor %}
                <option value="{{Direccion.idUnidadTransporte}}" selected>{{Direccion.Unidad.modelo}} {{Direccion.Unidad.marca}}</option>
                </select>
            </div>


            <div class="form-group">
                <input type="date" value="{{Direccion.fechaInicio}}" id="fechaInicio" name="fechaInicio" placeholder="FechaInicio" class="form-control" required>
            </div>

            <div class="form-group">
                <input type="date" value="{{Direccion.fechaFin}}"  id="fechaFin" name="fechaFin" placeholder="FechaIFinal" class="form-control" required>
            </div>

            <div class="form-group">
                <input type="text" value="{{Direccion.pesoTotal}}" id="pesoTotal"  name="pesoTotal" placeholder="Peso Total en Kilogramos" maxlength="100" class="form-control" required>
            </div>
            
            <div class="form-group">
                <select class="form-control" name="estatus" id="estatus">
                    {%if Direccion.estatus=="A"%}
                      <option value="{{Direccion.estatus}}" selected>Activo</option>
                      <option value="I">Inactivo</option>
                    {%endif%}
                    {%if Direccion.estatus=="I"%}
                      <option value="{{Direccion.estatus}}" selected>Inactivo</option>
                      <option value="A" >Activo</option>
                    {%endif%}
                </select>
            </div>
            
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-block">
                    Guardar
                </button>
            </div>

        </form>
    </div>
</div>
{% endblock %}