{% extends 'Layout.html'%} {% block body %}
<div class="col-md-8 offset-md-2">
    <div class="card card-body">
        <form action="/Tripulacion/modificar" method="POST">

            
            <div class="form-group">
                    <select class="form-control" name="idEmpleado" id="idEmpleado">
                            {% for cliente in Empleado %}
                                    {%if cliente.estatus=="A" and cliente.tipo=="Tripulante" %}
                                        <option value="{{cliente.idEmpleado}}" >{{cliente.Nombre}}</option>
                                    {%endif%}
                            {% endfor %}    
                            <option value="{{Tripulacion.idEmpleado}}" selected>{{Tripulacion.Empleado.Nombre}}</option>                
                    </select>
                </div>
                
                
                <div class="form-group">
                    <select class="form-control" name="idEnvio" id="idEnvio">
                            {% for cliente in Envio %}
                                    {%if cliente.estatus=="A"%}
                                        <option value="{{cliente.idEnvio}}">{{cliente.idEnvio}}</option>
                                    {%endif%}
                            {% endfor %}     
                            <option value="{{Tripulacion.idEnvio}}" selected>Envio: {{Tripulacion.idEnvio}}</option>               
                    </select>
                </div>

                <div class="form-group">
                        <input type="text" value="{{Tripulacion.rol}}" id="rol" name="rol" placeholder="rol" class="form-control" required>
                </div>
                
                <div class="form-group">
                <select class="form-control" name="estatus" id="estatus">
                    {%if Tripulacion.estatus=="A"%}
                      <option value="{{Tripulacion.estatus}}" selected>Activo</option>
                      <option value="I">Inactivo</option>
                    {%endif%}
                    {%if Tripulacion.estatus=="I"%}
                      <option value="{{Tripulacion.estatus}}" selected>Inactivo</option>
                      <option value="A" >Activo</option>
                    {%endif%}
                </select>
            </div>

            
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-block">
                    Guardar
                </button>
            </div>

        </form>
    </div>
</div>
{% endblock %}