body {
    box-sizing: border-box;
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}


header nav{
   justify-content:flex-end ;
   width: 200px;
}
.contenedor {
    background-color: white;
    margin: 0 auto;

}

nav {
    background-color: white;
}
nav ul {
    list-style:none;
    margin:0;
    padding:0;
}
nav ul li {
    padding: 1rem;
}
nav ul li:hover {
    background-color: white;
}
nav ul a {
    color: black;
    text-decoration: none;
    font-size: 1.1rem;
}



/** Multinivel **/
.dropdown ul {
    display: flex;
    flex-direction: column;
}
@media screen and (min-width:768px) {
    .dropdown ul {
        flex-direction: row;
    }
}
.dropdown ul li  {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.dropdown ul li ul  {
    margin-top: 1rem;
}
.dropdown ul li ul li:hover{
    background-color: rgba(50, 205, 50, 0.774);
    color: white;
}
@media screen and (min-width:768px) {
    .dropdown ul li  {
        position: relative;
        display: flex;
        flex: 1 1 100%;
    }
    .dropdown ul li ul {
        display: none;
        position: absolute;
        top:100%;
        left:0;
    }

    .dropdown ul li:hover ul {
        display: flex;
        flex-wrap: wrap;
        background-color: rgb(255, 255, 255);
        margin:0;
    }

}



.usuario{
    border-radius: 50%;
    margin-left: 10px;
    background-size: contain;
    width: 50px;
    height: 50px;
}