{% extends 'Layout.html'%} {% block body %}
<div class="col-md-8 offset-md-2">
    <div class="card card-body">
        <form action="/Venta/modificar" method="POST">


            <div class="form-group">
                <input type="number" value="{{Venta.idVenta}}"  id="idVenta" name="idVenta" placeholder="idVenta" class="form-control" readonly required>
            </div>
            
            <div class="form-group">
                <select class="form-control" name="idCliente" id="idCliente">
                {% for cliente in Clientes %}
                    {%if cliente.Estatus=="A"%}
                      <option value="{{cliente.IdCliente}}">{{cliente.Nombre}}</option>
                    {%endif%}
                {% endfor %}
                <option value="{{Venta.idCliente}}" selected>{{Venta.Cliente.Nombre}}</option>
                </select>
            </div>

            <div class="form-group">
                <select class="form-control" name="idSucursal" id="idSucursal">
                {% for Sucursal in Sucursales %}
                    {%if Sucursal.estatus=="A"%}
                      <option value="{{Sucursal.idSucursal}}" >{{Sucursal.nombre}}</option>
                    {%endif%}
                {% endfor %}
                <option value="{{Venta.idSucursal}}" selected>{{Venta.Sucursal.nombre}}</option>
                </select>
            </div>

            <div class="form-group">
                <select class="form-control" name="idEmpleado" id="idEmpleado">
                {% for Empleado in Empleados %}
                    {%if Empleado.estatus=="A"%}
                      <option value="{{Empleado.idEmpleado}}" >{{Empleado.nombre}}</option>
                    {%endif%}
                {% endfor %}
                <option value="{{Venta.idEmpleado}}" selected>{{Venta.Empleado.nombre}} {{Venta.Empleado.apellidoPaterno}}</option>
                </select>
            </div>

            <div class="form-group">
                <input type="date" value="{{Venta.fecha}}"  id="fecha" name="fecha" placeholder="Fecha" class="form-control" required>
            </div>

            <div class="form-group">
                <input type="text" value="{{Venta.subtotal}}"  id="subtotal" name="subtotal" placeholder="subtotal" class="form-control" required>
            </div>

            <div class="form-group">
                <input type="text" value="{{Venta.iva}}" id="iva"  name="iva" placeholder="IVA" maxlength="100" class="form-control" required>
            </div>
            <div class="form-group">
                <input type="text" value="{{Venta.total}}" id="total"  name="total" placeholder="Total" class="form-control" required>
            </div>

            <div class="form-group">
                <input type="text"value="{{Venta.cantPagada}}"id="cantPagada" name="cantPagada" placeholder="Cantidad Pagada" maxlength="200" class="form-control" maxlength="15" required>
            </div>

            <div class="form-group">
                <input type="text" value="{{Venta.comentarios}}" id="comentarios" name="comentarios" placeholder="Comentarios" maxlength="200" class="form-control" maxlength="15" required>
            </div>

            <div class="form-group">
                <select class="form-control" name="tipo" id="tipo">
                    {%if Venta.tipo=="C"%}
                    <option value="P" >Pagos</option>
                      <option value="{{Venta.tipo}}" selected>Contado</option>
                    {%endif%}
                    {%if Venta.tipo=="P"%}
                    <option value="C" >Contado</option>
                      <option value="{{Venta.tipo}}" selected>Pagos</option>
                    {%endif%}
                </select>
            </div>

            <div class="form-group">
                <select class="form-control" name="estatus" id="estatus">
                    {%if Venta.estatus=="A"%}
                      <option value="{{Venta.estatus}}" selected>Activo</option>
                      <option value="I">Inactivo</option>
                    {%endif%}
                    {%if Venta.estatus=="I"%}
                      <option value="{{Venta.estatus}}" selected>Inactivo</option>
                      <option value="A" >Activo</option>
                    {%endif%}
                </select>
            </div>
            
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-block">
                    Guardar
                </button>
            </div>

        </form>
    </div>
</div>
{% endblock %}