{% extends 'Layout.html'%} {% block body %}
<div class="col-md-8 offset-md-2">
    <div class="card card-body">
        <form action="/Unidad/modificar" method="POST">

            <div class="form-group">
                <input type="number" value="{{Unidad.idUnidadTransporte}}" name="IdUnidad" placeholder="IdUnidad" class="form-control" readonly required>
            </div>

            <div class="form-group">
                <input type="text" value="{{Unidad.placas}}" id="Placas" maxlength="10" name="Placas" placeholder="Placas" class="form-control" required>
            </div>

            <div class="form-group">
                <input type="text" value="{{Unidad.marca}}" id="Marca"  maxlength="80" name="Marca" placeholder="Marca" class="form-control" required>
            </div>

            <div class="form-group">
                <input type="text" value="{{Unidad.modelo}}" id="Modelo" maxlength="80"  name="Modelo" placeholder="Modelo" class="form-control" required>
            </div>

            
            <div class="form-group">
                <input type="number" value="{{Unidad.capacidad}}" id="Capacidad"  name="Capacidad" placeholder="Capacidad" class="form-control"  required>
            </div>

            <div class="form-group">
                <input type="number" value="{{Unidad.anio}}" id="Anio"  name="Anio" placeholder="Año" maxlength="4" class="form-control" required>
            </div>

            <div class="form-group">
                <select class="form-control" name="Tipo" id="Tipo">
                    {%if Unidad.tipo=="P"%}
                      <option value="{{Unidad.tipo}}" selected>Pesado</option>
                      <option value="L">Ligero</option>
                      <option value="E" >Envio</option>
                      <option value="T" >Personal, para empleados</option>
                    {%endif%}
                    {%if Unidad.tipo=="L"%}
                      <option value="{{Unidad.tipo}}" selected>Ligero</option>
                      <option value="P" >Pesado</option>
                      <option value="E" >Envio</option>
                      <option value="T" >Personal, para empleados</option>
                    {%endif%}
                    {%if Unidad.tipo=="E"%}
                      <option value="{{Unidad.tipo}}" selected>Envio</option>
                      <option value="P" >Pesado</option>
                      <option value="L" >Ligero</option>
                      <option value="T" >Personal, para empleados</option>
                    {%endif%}
                    {%if Unidad.tipo=="T"%}
                      <option value="{{Unidad.tipo}}" selected>Personal</option>
                      <option value="P" >Pesado</option>
                      <option value="L" >Ligero</option>
                      <option value="E" >Envio</option>
                    {%endif%}
                </select>
            </div>

            <div class="form-group">
                <select class="form-control" name="Estatus" id="Estatus">
                    {%if Unidad.estatus=="A"%}
                      <option value="{{Unidad.estatus}}" selected>Activo</option>
                      <option value="I">Inactivo</option>
                    {%endif%}
                    {%if Unidad.estatus=="I"%}
                      <option value="{{Unidad.estatus}}" selected>Inactivo</option>
                      <option value="A" >Activo</option>
                    {%endif%}
                </select>
            </div>
            
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-block">
                    Guardar
                </button>
            </div>

        </form>
    </div>
</div>
{% endblock %}