{% extends 'Layout.html'%} {% block body %}
<div class="col-md-8 offset-md-2">
    <div class="card card-body">
        <form action="/Miembro/modificar" method="POST">
            

            <div class="form-group" >
                <select class="form-control" name="Asociacion" id="Asociacion">
                <option value="{{Miembro.Asociacion.IdAsociacion}}" selected>{{Miembro.Asociacion.Nombre}}</option>
                </select>
                
            </div>

            <div class="form-group">
                <select class="form-control" name="Cliente" id="Cliente">
                <option value="{{Miembro.Cliente.IdCliente}}" selected>{{Miembro.Cliente.Nombre}}</option>
                </select>
            </div>
            
            <div class="form-group">
                <input type="date" value="{{Miembro.FechaIncorporacion}}" id="Fecha" name="Fecha" placeholder="Fecha de incorporación" class="form-control" required>
            </div>

            <div class="form-group">
                <select class="form-control" name="Estatus" id="Estatus">
                    {%if Miembro.Estatus=="A"%}
                      <option value="{{Miembro.Estatus}}" selected>Activo</option>
                      <option value="I">Inactivo</option>
                    {%endif%}
                    {%if Miembro.Estatus=="I"%}
                      <option value="{{Miembro.Estatus}}" selected>Inactivo</option>
                      <option value="A" >Activo</option>
                    {%endif%}
                </select>
            </div>
            
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-block">
                    Guardar
                </button>
            </div>

        </form>
    </div>
</div>
{% endblock %}