{% extends 'Layout.html' %} {% block body%}


<div class="row">
    <div class="col-md-5">

        {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %} {% endif %} {% endwith %}

        <div class="card card-body">
            <form action="/AddCiudad" method="POST">

                <div class="form-group">
                    <select class="form-control" name="IdEstado" id="IdEstado">
                    {% for estado in Estados %}
                        {%if estado.estatus=="A"%}
                          <option value="{{estado.idEstado}}" selected>{{estado.nombre}}</option>
                        {%endif%}
                    {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <input type="text" name="Nombre" id="Nombre" maxlength="80" placeholder="Nombre Ciudad" class="form-control" required>
                </div>

                <div class="form-group">
                    <select class="form-control" name="Estatus" id="Estatus">
                        <option value="A" selected>Activo</option>
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-block">
                        Guardar
                    </button>
                </div>

            </form>
        </div>
    </div>

    <div class="col-md-7">
        <p>Ciudades Activas</p>
        <table class="table table-striped table-bordered bg-white table-sm">
            <thead>
                <tr>
                    <td>IdCiudad</td>
                    <td>Estado</td>
                    <td>NombreCiudad</td>
                    <td>Estatus</td>
                </tr>
            </thead>
            <tbody>
                {% for cli in Ciudades %}
                {%if cli.estatus=="A"%}
                <tr>
                    <td>{{cli.idCiudad}}       </td>
                    <td>{{cli.Estado.nombre}}       </td>
                    <td>{{cli.nombre}}       </td>
                    <td>{{cli.estatus}}       </td>
                    <td>
                        <a href="/EditCiudad/{{cli.idCiudad}}" class="btn btn-warning btn-block">Editar</a>
                        <a href="/DeleteCiudad/{{cli.idCiudad}}" class="btn btn-danger btn-block btn-delete">Eliminar</a>
                    </td>
                </tr>
                {%endif%}
                {% endfor %}
            </tbody>
        </table>
        <p>Ciudades Inactivas</p>
        <table class="table table-striped table-bordered bg-white table-sm">
            <thead>
                <tr>
                    <td>IdCiudad</td>
                    <td>Estado</td>
                    <td>NombreCiudad</td>
                    <td>Estatus</td>
                </tr>
            </thead>
            <tbody>
                {% for cli in Ciudades %}
                {%if cli.estatus=="I"%}
                <tr>
                    <td>{{cli.idCiudad}}       </td>
                    <td>{{cli.Estado.nombre}}       </td>
                    <td>{{cli.nombre}}       </td>
                    <td>{{cli.estatus}}       </td>
                    <td>
                        <a href="/EditCiudad/{{cli.idCiudad}}" class="btn btn-warning btn-block">Editar</a>
                        <a href="/DeleteCiudad/{{cli.idCiudad}}" class="btn btn-danger btn-block btn-delete">Eliminar</a>
                    </td>
                </tr>
                {%endif%}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}