{% extends 'Layout.html' %} {% block body%}


<div class="row">
    <div class="col-md-5">

        {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %} {% endif %} {% endwith %}

        <div class="card card-body">
            <form action="/AddContacto" method="POST">

                <div class="form-group">
                    <select class="form-control" name="IdCliente" id="IdCliente">
                    {% for cliente in Cliente %}
                        {%if cliente.Estatus=="A"%}
                          <option value="{{cliente.IdCliente}}" selected>{{cliente.Nombre}}</option>
                        {%endif%}
                    {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <input type="text" name="Nombre" maxlength="100" placeholder="Nombre" class="form-control" required>
                </div>

                <div class="form-group">
                    <input type="tel" maxlength="10" name="Telefono" placeholder="Telefono" class="form-control" required>
                </div>

                <div class="form-group">
                    <input type="email" maxlength="100" name="Email" placeholder="Email" maxlength="13" class="form-control" required>
                </div>

                <div class="form-group">
                    <select class="form-control" name="Estatus" id="Estatus">
                        <option value="A" selected>Activo</option>
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-block">
                        Guardar
                    </button>
                </div>

            </form>
        </div>
    </div>

    <div class="col-md-7">
        <p>Contacto de Clientes </p>
        <table class="table table-striped table-bordered bg-white table-sm">
            <thead>
                <tr>
                    <td>IdContacto</td>
                    <td>ClienteRegistrado</td>
                    <td>Nombre_Contacto</td>
                    <td>Telefono</td>
                    <td>Email</td>
                    <td>Estatus</td>
                </tr>
            </thead>
            <tbody>
                {% for cli in Contacto %}
                {%if ((cli.idContacto) <= (PosicionA*5)) and ((cli.idContacto) >= ((PosicionA*5)-4)) %}
                <tr>
                    <td>{{cli.idContacto}}       </td>
                    <td>{{cli.Cliente.Nombre}}       </td>
                    <td>{{cli.nombre}}       </td>
                    <td>{{cli.telefono}}       </td>
                    <td>{{cli.email}}       </td>
                        {%if cli.estatus=="A"%}
                        <td>Activo      </td>
                        <td>
                        <a href="/EditContacto/{{cli.idContacto}}" class="btn btn-warning btn-block">Editar</a>
                        <a href="/DeleteContacto/{{cli.idContacto}}" class="btn btn-danger btn-block btn-delete">Eliminar</a>
                        </td>
                        {%else%}
                        <td style="background-color:#FF0000">Inactivo</td>
                        <td>
                            <a href="/EditContacto/{{cli.idContacto}}" class="btn btn-warning btn-block">Editar</a>
                            
                        </td>
                        {%endif%}
                </tr>
                {%endif%}
                {% endfor %}
            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {%if PosicionA > 1 %}
              <li class="page-item"><a class="page-link" href="/ContactosClientes/{{PosicionA-1}}">Previous</a></li>
              {% endif %}
              
              {%if PosicionA < PaginasA %}
              <li class="page-item"><a class="page-link" href="/ContactosClientes/{{PosicionA+1}}">Next</a></li>
              {% endif %}
            </ul>
          </nav>
          <h1>Pagina{{PosicionA}}</h1>
    </div>
</div>

{% endblock %}