{% extends 'Layout.html'%} {% block body %}
<div class="col-md-8 offset-md-2">
    <div class="card card-body">
        <form action="/Contacto/modificar" method="POST">

            <div class="form-group">
                <input type="number" value="{{Contacto.idContacto}}" name="IdContacto" placeholder="IdContacto" class="form-control" readonly>
            </div>

            <div class="form-group">
                <select class="form-control" name="IdCliente" id="IdCliente">
                    {%for cli in Cliente%}
                    <option value="{{cli.IdCliente}}" >{{cli.Nombre}}.</option>
                    {%endfor%}
                <option value="{{Contacto.idCliente}}" selected>{{Contacto.Cliente.Nombre}}</option>
                </select>
            </div>

            <div class="form-group">
                <input type="text" value="{{Contacto.nombre}}" name="Nombre" maxlength="100" placeholder="Nombre" class="form-control"  required>
            </div>

            <div class="form-group">
                <input type="tel" value="{{Contacto.telefono}}" maxlength="10" name="Telefono" placeholder="Telefono" class="form-control" required>
            </div>

            <div class="form-group">
                <input type="email" value="{{Contacto.email}}" maxlength="100" name="Email" placeholder="Email" maxlength="13" class="form-control" required>
            </div>


            <div class="form-group">
                <select class="form-control" name="Estatus" id="Estatus">
                    {%if Contacto.estatus=="A"%}
                      <option value="{{Contacto.estatus}}" selected>Activo</option>
                      <option value="I">Inactivo</option>
                    {%endif%}
                    {%if Contacto.estatus=="I"%}
                      <option value="{{Contacto.estatus}}" selected>Inactivo</option>
                      <option value="A" >Activo</option>
                    {%endif%}
                </select>
            </div>
            
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-block">
                    Guardar
                </button>
            </div>

        </form>
    </div>
</div>
{% endblock %}