{% extends 'Layout.html'%} {% block body %}
<div class="col-md-8 offset-md-2">
    <div class="card card-body">
        <form action="/Cultivo/modificar" method="POST">
            
            <div class="form-group">
                <input type="number" value="{{Cultivo.IdCultivo}}" name="IdCultivo" placeholder="IdCultivo" class="form-control" readonly required>
            </div>

            <div class="form-group">
                <input type="text" value="{{Cultivo.Nombre}}" name="Nombre" placeholder="Nombre" class="form-control" required>
            </div>

            <div class="form-group">
                <input type="number" value="{{Cultivo.CostoAsesoria}}" name="Costo" placeholder="Costo" class="form-control" required>
            </div>

            <div class="form-group">
                <select class="form-control" name="Estatus" id="Estatus">
                      {%if Cultivo.Estatus=="A"%}
                      <option value="{{Cultivo.Estatus}}" selected>Activo</option>
                      <option value="I">Inactivo</option>
                      {%endif%}
                      {%if Cultivo.Estatus=="I"%}
                      <option value="{{Cultivo.Estatus}}" selected>Inactivo</option>
                      <option value="A" >Activo</option>
                      {%endif%}
                </select>
            </div>
        
            
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-block">
                    Guardar
                </button>
            </div>

        </form>
    </div>
</div>
{% endblock %}