<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Administración</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/materia/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/PanelAdministracion.css') }}">
    <script src="{{url_for('static',filename='JS/global.js')}}" ></script>
    <script>
        function CalcularFecha()
        {
            var f = new Date();
            dia= f.getDate();
            mes= f.getMonth()+1;
            año= f.getYear()+1900;
            fecha=año+"/"+mes+"/"+dia;
            document.getElementById("fecha").setAttribute("value",fecha);
            
        }
        
    </script>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark  ">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Panel de Administración</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    {% if current_user.is_authenticated %}
                    <a class="nav-link active" aria-current="page" href="/Asociaciones">Asociaciones</a> {% endif %} {% if current_user.is_authenticated %}
                    <a class="nav-link active" aria-current="page" href="/Miembros">Miembros</a> {% endif %} {% if current_user.is_authenticated %}
                    <a class="nav-link active" aria-current="page" href="/Cultivos">Cultivos</a> {% endif %} {% if current_user.is_authenticated %}
                    <a class="nav-link active" aria-current="page" href="/Clientes">Clientes</a> {% endif %} {% if current_user.is_authenticated %}
                    <a class="nav-link active" aria-current="page" href="/Estados/1">Estados</a> {% endif %} {% if current_user.is_authenticated %}
                    <a class="nav-link active" aria-current="page" href="/Ciudades/1">Ciudades</a> {% endif %} {% if current_user.is_authenticated %}
                    <a class="nav-link active" aria-current="page" href="/DireccionesClientes/1">DireccionesClientes</a> {% endif %} {% if current_user.is_authenticated %}
                    <a class="nav-link active" aria-current="page" href="/Parcelas/1">Parcelas</a> {% endif %} {% if current_user.is_authenticated %}
                    <a class="nav-link active" aria-current="page" href="/ContactosClientes/1">ContactosClientes</a> {% endif %} {% if current_user.is_authenticated %}
                    <a class="nav-link active" aria-current="page" href="/UnidadesTransporte/1">UnidadesTransporte</a> {% endif %} {% if current_user.is_authenticated %}
                    <a class="nav-link active" aria-current="page" href="/Mantenimientos/1">Mantenimientos</a> {% endif %} {% if current_user.is_authenticated %}
                    <a class="nav-link active" aria-current="page" href="/Ventas/1">Ventas</a> {% endif %} {% if current_user.is_authenticated %}
                    <a class="nav-link active" aria-current="page" href="/VentaDetalle/1">Ventas Detalles</a> {% endif %} {% if current_user.is_authenticated %}
                    <a class="nav-link active" aria-current="page" href="/Cobros/1">Cobros</a> {% endif %} {% if current_user.is_authenticated %}
                    <a class="nav-link active" aria-current="page" href="/Envios/1">Envios</a> {% endif %} {% if current_user.is_authenticated %}
                    <a class="nav-link active" aria-current="page" href="/DetallesEnvio/1">Detalles Envios</a> {% endif %} {% if current_user.is_authenticated %}
                    <a class="nav-link active" aria-current="page" href="/cerrarSesion">Cerrar Sesion</a> {% endif %}
                    <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container pt-4">
        {% block body %} {% endblock %}
    </div>


    <!-- scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</nav>
</head>

<body onload="CalcularFecha()">

<div class="row">
    <div class="col-md-5">

        {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %} {% endif %} {% endwith %}

        <div class="card card-body">
            <form action="/AddDetalleEnvio" method="POST">

                
                
                <div class="form-group">
                    <select class="form-control" name="idEnvio" id="idEnvio">
                    {% for cliente in Envios %}
                        {%if cliente.estatus=="A"%}
                          <option value="{{cliente.idEnvio}}" selected>{{cliente.Unidad.marca}} {{cliente.Unidad.modelo}} Fecha Inicio:{{cliente.fechaInicio}}</option>
                        {%endif%}
                    {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control" name="idVenta" id="idVenta">
                    {% for cliente in Ventas %}
                        {%if cliente.estatus=="A"%}
                          <option value="{{cliente.idVenta}}" selected> Venta:{{cliente.idVenta}} {{cliente.Cliente.Nombre}}</option>
                        {%endif%}
                    {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <select class="form-control" name="idDireccion" id="idDireccion">
                    {% for cliente in Direcciones %}
                        {%if cliente.estatus=="A"%}
                          <option value="{{cliente.idDireccion}}" selected>{{cliente.calle}} #{{cliente.numero}} Col. {{cliente.colonia}}, {{cliente.Ciudad.nombre}} {{cliente.Ciudad.Estado.nombre}}.</option>
                        {%endif%}
                    {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <select class="form-control" name="idContacto" id="idContacto">
                    {% for cliente in Contactos %}
                        {%if cliente.estatus=="A"%}
                          <option value="{{cliente.idContacto}}" selected>{{cliente.nombre}}</option>
                        {%endif%}
                    {% endfor %}
                    </select>
                </div>


                <div class="form-group">
                    <input type="text"  id="fecha" name="fecha" placeholder="Fecha Entrega Planeada" class="form-control" required>
                </div>

                <div class="form-group">
                    <input type="text" id="peso"  name="peso" placeholder="Peso en Toneladas" maxlength="100" class="form-control" required>
                </div>
                <div class="form-group">
                    <select class="form-control" name="estatus" id="estatus">
                          <option value="P" >Pendiente de Recoleccion</option>
                          <option value="R" >Recolectado</option>
                          <option value="T" >En Ruta</option>
                          <option value="C" >Cancelado</option>
                          <option value="E" >Entregado</option>
                    </select>
                </div>
                
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-block">
                        Guardar
                    </button>
                </div>

            </form>
        </div>
    </div>

    <div class="col-md-7">
        <p>Detalles de Envios</p>
        <table class="table table-striped table-bordered bg-white table-sm">
            <thead>
                <tr>
                    <td>IdEnvio</td>
                    <td>Venta al Cliente</td>
                    <td>Direccion</td>
                    <td>Contacto</td>
                    <td>FechaEntrega Estimada</td>
                    <td>Peso en Toneladas</td>
                    <td>Estatus</td>
                </tr>
            </thead>
            <tbody>
                {% for cli in Direccion %}
                {%if (cli.idEnvio ) <= (PosicionA*5) and (cli.idEnvio ) >= ((PosicionA*5)-4)%}
                <tr>
                    <td>{{cli.idEnvio}}</td>
                    <td>ID:{{cli.Venta.idVenta}} Cliente:{{cli.Venta.Cliente.Nombre}}</td>
                    <td>{{cli.Direccion.calle}} #{{cli.Direccion.numero}} Col. {{cli.Direccion.colonia}}, {{cli.Direccion.Ciudad.nombre}} {{cli.Direccion.Ciudad.Estado.nombre}}.   </td>
                    <td>{{cli.Contacto.nombre}}, Tel:{{cli.Contacto.telefono}}       </td>
                    <td>{{cli.fechaEntregaPlaneada}}       </td>
                    <td>{{cli.peso}}       </td>
                    {%if cli.estatus!="C"%}
                    {%if cli.estatus=="T"%}
                        <td>En ruta      </td>
                    {%endif%}
                    {%if cli.estatus=="E"%}
                        <td>Entregado      </td>
                    {%endif%}
                    {%if cli.estatus=="R"%}
                        <td>Recolectado      </td>
                    {%endif%}
                    {%if cli.estatus=="P"%}
                        <td>Pendiente de Recoleccion      </td>
                    {%endif%}
                        <td>
                        <a href="/EditDetalleEnvio/{{cli.idEnvio}}/{{cli.idVenta}}" class="btn btn-warning btn-block">Editar</a>
                        <a href="/DeleteDetalleEnvio/{{cli.idEnvio}}/{{cli.idVenta}}" class="btn btn-danger btn-block btn-delete">Eliminar</a>
                        </td>
                        {%else%}
                        <td style="background-color:#FF0000">Cancelado</td>
                        <td>
                            <a href="/EditDetalleEnvio/{{cli.idEnvio}}/{{cli.idVenta}}" class="btn btn-warning btn-block">Editar</a>
                            
                        </td>
                        {%endif%}
                </tr>
                {%endif%}
                {% endfor %}
            </tbody>
        </table>
        
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {%if PosicionA > 1 %}
              <li class="page-item"><a class="page-link" href="/Mantenimientos/{{PosicionA-1}}">Previous</a></li>
              {% endif %}
              
              {%if PosicionA < PaginasA %}
              <li class="page-item"><a class="page-link" href="/Mantenimientos/{{PosicionA+1}}">Next</a></li>
              {% endif %}
            </ul>
          </nav>
          <h1 align="center">Pagina: {{PosicionA}}</h1>

    </div>
</div>

</html>