{% extends 'Layout.html'%} {% block body %}
<div class="col-md-8 offset-md-2">
    <div class="card card-body">
        <form action="/DetalleEnvio/modificar" method="POST">
            
            <div class="form-group">
                <select class="form-control" name="idEnvio" id="idEnvio">
                      <option value="{{Mantenimiento.idEnvio}}" selected>{{Mantenimiento.idEnvio}}</option>
                </select>
            </div>
            <div class="form-group">
                <select class="form-control" name="idVenta" id="idVenta">
                      <option value="{{Mantenimiento.idVenta}}" selected>{{Mantenimiento.idVenta}}</option>
                </select>
            </div>

            <div class="form-group">
                <select class="form-control" name="idDireccion" id="idDireccion">
                {% for cliente in Direcciones %}
                    {%if cliente.estatus=="A"%}
                      <option value="{{cliente.idDireccion}}" >{{cliente.idDireccion}}</option>
                    {%endif%}
                {% endfor %}
                <option value="{{Mantenimiento.idDireccion}}" selected>{{Mantenimiento.idDireccion}}</option>
                </select>
            </div>

            <div class="form-group">
                <select class="form-control" name="idContacto" id="idContacto">
                {% for cliente in Contactos %}
                    {%if cliente.estatus=="A"%}
                      <option value="{{cliente.idContacto}}" >{{cliente.idContacto}}</option>
                    {%endif%}
                {% endfor %}
                <option value="{{Mantenimiento.idDireccion}}" selected>{{Mantenimiento.idDireccion}}</option>
                </select>
            </div>


            <div class="form-group">
                <input type="date" value="{{Mantenimiento.fechaEntregaPlaneada}}"  id="fecha" name="fecha" placeholder="Fecha Entrega Planeada" class="form-control" required>
            </div>

            <div class="form-group">
                <input type="text" value="{{Mantenimiento.peso}}" id="peso"  name="peso" placeholder="Peso" maxlength="100" class="form-control" required>
            </div>
            <div class="form-group">
                <select class="form-control" name="estatus" id="estatus">
                    {%if Mantenimiento.estatus=="A"%}
                      <option value="{{Mantenimiento.estatus}}" selected>Activo</option>
                      <option value="I">Inactivo</option>
                    {%endif%}
                    {%if Mantenimiento.estatus=="I"%}
                      <option value="{{Mantenimiento.estatus}}" selected>Inactivo</option>
                      <option value="A" >Activo</option>
                    {%endif%}
                </select>
            </div>
            
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-block">
                    Guardar
                </button>
            </div>

        </form>
    </div>
</div>
{% endblock %}