{% extends 'Layout.html' %} {% block body%}


<div class="row">
    <div class="col-md-5">

        {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %} {% endif %} {% endwith %}

        

    <div class="col-md-7">
        <p>Detalles de las ventas</p>
        <table class="table table-striped table-bordered bg-white table-sm">
            <thead>
                <tr>
                    <td>IdDetallesVenta</td>
                    <td>Venta al Cliente</td>
                    <td>IdVenta </td>
                    <td>PresentaciónProducto</td>
                    <td>Precio Unitario</td>
                    <td>Cantidad Productos</td>
                    <td>Subtotal</td>
                    <td>Estatus</td>
                </tr>
            </thead>
            <tbody>
                {% for cli in Detalles %}
                {%if (cli.idVentaDetalle) <= (PosicionA*5) and (cli.idVentaDetalle) >= ((PosicionA*5)-4)%}
                <tr>
                    <td>{{cli.idVentaDetalle}}       </td>
                    <td>{{cli.Venta.Cliente.Nombre}}</td>
                    <td>{{cli.Venta.idVenta}}</td>
                    <td>{{cli.Presentacion.Producto.nombre}} {{cli.Presentacion.Empaque.nombre}} {{cli.Presentacion.Empaque.capacidad}}  {{cli.Presentacion.Empaque.Unidad.siglas}}      </td>
                    <td>{{cli.Presentacion.precioVenta}}       </td>                    
                    <td>{{cli.cantidad}}</td>
                    <td>{{cli.cantidad*cli.Presentacion.precioVenta}}       </td>
                    {%if cli.estatus=="A" or cli.estatus=="C"%}
                        <td>Confirmado      </td>
                        <td>
                        <a href="/EditVentaDetalle/{{cli.idVentaDetalle}}" class="btn btn-warning btn-block">Editar</a>
                        <a href="/DeleteVentaDetalle/{{cli.idVentaDetalle}}" class="btn btn-danger btn-block btn-delete">Eliminar</a>
                        </td>
                        {%else%}
                        <td style="background-color:#FF0000">Inactivo</td>
                        <td>
                            <a href="/EditVentaDetalle/{{cli.idVentaDetalle}}" class="btn btn-warning btn-block">Editar</a>
                            
                        </td>
                        {%endif%}
                </tr>
                {%endif%}
                {% endfor %}
            </tbody>
        </table>
        
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {%if PosicionA > 1 %}
              <li class="page-item"><a class="page-link" href="/VentaDetalle/{{PosicionA-1}}">Previous</a></li>
              {% endif %}
              
              {%if PosicionA < PaginasA %}
              <li class="page-item"><a class="page-link" href="/VentaDetalle/{{PosicionA+1}}">Next</a></li>
              {% endif %}
            </ul>
          </nav>
          <h1 align="center">Pagina: {{PosicionA}}</h1>

    </div>
</div>

{% endblock %}