<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agroquímicos el Geiser</title>
    
</head>
<header>
    <nav>
        <li>
            <a href="#">Soporte</a>
            <a href="#">Historial de navegación</a>
            <a href="#">aqui un icono</a>
            <a href="#">Usuario</a>
        </li>
    </nav>
</header>
<main>
    <p>Hola soy el morro</p>
</main>
<body>
    
</body>
</html>