<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='CSS/main.css')}}">
    <script>
        function CalcularFecha()
        {
            var f = new Date();
            dia= f.getDate();
            mes= f.getMonth()+1;
            año= f.getYear()+1900;
            fecha=dia+"/"+ mes + "/" + año;
            Hora= (f.getHours()+":"+f.getMinutes());
            alert ("La fecha es: "+fecha + "  La Hora actual es: "+Hora);
            document.getElementById("Hora").setAttribute("value",Hora);
            document.getElementById("Fecha").setAttribute("value",fecha);
        }
        Concurrent.Thread.create(CalcularFecha);
    </script>
    <title>Agroquímicos el Geiser</title>
    
</head>

<header class="contenedor">
        
        
    <nav class="dropdown">
        <ul>
            <li>
                <a href="">
                    <img src="{{url_for('static',filename='Imagenes/user.png')}}" alt="" class="usuario">
                </a>
            </li>
            <li><a href="#">Menu</a>
                <ul>
                    <li><a href="/Asociaciones">Asociaciones</a></li>
                    <li><a href="/Clientes">Clientes</a></li>
                    <li><a href="/Cultivos">Cultivos</a></li>
                    <li><a href="/Miembros">Miembros</a></li>
                </ul>
            </li>
            <li><a href="/">Inicio</a></li>
            <li><a href="#">Historial</a></li>
            <li><a href="#">Nosotros</a>
                <ul>
                    <li><a href="#">Misión</a></li>
                    <li><a href="#">Visión</a></li>
                    <li><a href="#">Valores</a></li>
                </ul>
            </li>
            <li><a href="/cerrarSesion">Cerrar Sesión</a></li>
            <li>Bienvenido {{current_user.Nombre}}</li>
            <li>
              Fecha: <input type="text" id="Fecha" readonly>
            </li>
            <li>
                Hora: <input type="text" id="Hora" readonly>
              </li>
        </ul>
    </nav>
    

</header>
<main>
   
</main>
<body onload="CalcularFecha()">
    
</body>
</html>


