{% extends 'Layout.html'%} {% block body %}
<div class="col-md-8 offset-md-2">
    <div class="card card-body">
        <form action="/Clientes/modificar" method="POST">

            <div class="form-group">
                <input type="number" value="{{Cliente.IdCliente}}" name="IdCliente" placeholder="IdCLiente" class="form-control" readonly>
            </div>

            <div class="form-group">
                <input type="text" value="{{Cliente.Nombre}}" name="Nombre" placeholder="Nombre" class="form-control" required>
            </div>

            <div class="form-group">
                <input type="text" value="{{Cliente.RazonSocial}}" name="Razon" placeholder="Razon Social" class="form-control" required>
            </div>

            <div class="form-group">
                <input type="number" value="{{Cliente.LimiteCredito}}" name="Limite" placeholder="Limite de Crédito" class="form-control" required>
            </div>

            <div class="form-group">
                <input type="text" value="{{Cliente.Rfc}}" name="Rfc" placeholder="RFC" maxlength="13" class="form-control" required>
            </div>

            <div class="form-group">
                <input type="email" value="{{Cliente.Email}}" name="Email" placeholder="Email" class="form-control" required>
            </div>

            <div class="form-group">
                <input type="password" value="{{Cliente.Password}}" name="Password" placeholder="Nueva Password" class="form-control" maxlength="15" required>
            </div>

            <div class="form-group">
                <input type="text" value="{{Cliente.Telefono}}" maxlength="10" name="Telefono" placeholder="Teléfono" class="form-control" required>
            </div>
            <div class="form-group">
                <select class="form-control" name="Tipo" id="Tipo">
                    {%if Cliente.Tipo=="A"%}
                      <option value="{{Cliente.Tipo}}" selected>Agricultor</option>
                      <option value="T">Tienda</option>
                    {%endif%}
                    {%if Cliente.Tipo=="T"%}
                      <option value="{{Cliente.Tipo}}" selected>Tienda</option>
                      <option value="A" >Agricultor</option>
                    {%endif%}
                </select>
            </div>

            <div class="form-group">
                <select class="form-control" name="Estatus" id="Estatus">
                    {%if Cliente.Estatus=="A"%}
                      <option value="{{Cliente.Estatus}}" selected>Activo</option>
                      <option value="I">Inactivo</option>
                    {%endif%}
                    {%if Cliente.Estatus=="I"%}
                      <option value="{{Cliente.Estatus}}" selected>Inactivo</option>
                      <option value="A" >Activo</option>
                    {%endif%}
                </select>
            </div>
            
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-block">
                    Guardar
                </button>
            </div>

        </form>
    </div>
</div>
{% endblock %}