{% extends 'Layout.html'%} {% block body %}
<div class="col-md-8 offset-md-2">
    <div class="card card-body">
        <form action="/Mantenimiento/modificar" method="POST">


            <div class="form-group">
                <input type="number" value="{{Mantenimiento.idMantenimiento}}"  id="IdMantenimiento" name="IdMantenimiento" placeholder="IdMantenimiento" class="form-control" readonly required>
            </div>
            
            <div class="form-group">
                <select class="form-control" name="IdUnidad" id="IdUnidad">
                {% for cliente in Unidades %}
                    {%if cliente.estatus=="A"%}
                      <option value="{{cliente.idUnidadTransporte}}" >{{cliente.idUnidadTransporte}}</option>
                    {%endif%}
                {% endfor %}
                <option value="{{Mantenimiento.idUnidadTransporte}}" selected>{{Mantenimiento.idUnidadTransporte}}</option>
                </select>
            </div>

            <div class="form-group">
                <input type="date" value="{{Mantenimiento.fechaInicio}}"  id="FechaI" name="FechaI" placeholder="FechaInicio" class="form-control" required>
            </div>

            <div class="form-group">
                <input type="date" value="{{Mantenimiento.fechaFin}}"  id="FechaF" name="FechaF" placeholder="FechaIFinal" class="form-control" required>
            </div>

            <div class="form-group">
                <input type="text" value="{{Mantenimiento.taller}}" id="Taller"  name="Taller" placeholder="RFC" maxlength="100" class="form-control" required>
            </div>
            <div class="form-group">
                <input type="number" value="{{Mantenimiento.costo}}" id="Costo"  name="Costo" placeholder="Costo" class="form-control" required>
            </div>

            <div class="form-group">
                <input type="text" value="{{Mantenimiento.comentarios}}" id="Comentarios" name="Comentarios" placeholder="Comentarios" maxlength="200" class="form-control" maxlength="15" required>
            </div>
            
            <div class="form-group">
                <select class="form-control" name="Tipo" id="Tipo">
                    {%if Mantenimiento.tipo=="C"%}
                      <option value="{{Mantenimiento.tipo}}" selected>Completo</option>
                      <option value="P">Parcial</option>
                    {%endif%}
                    {%if Mantenimiento.tipo=="P"%}
                      <option value="{{Mantenimiento.Tipo}}" selected>Parcial</option>
                      <option value="C" >Completo</option>
                    {%endif%}
                </select>
            </div>

            <div class="form-group">
                <select class="form-control" name="Estatus" id="Estatus">
                    {%if Mantenimiento.estatus=="A"%}
                      <option value="{{Mantenimiento.estatus}}" selected>Activo</option>
                      <option value="I">Inactivo</option>
                    {%endif%}
                    {%if Mantenimiento.estatus=="I"%}
                      <option value="{{Mantenimiento.estatus}}" selected>Inactivo</option>
                      <option value="A" >Activo</option>
                    {%endif%}
                </select>
            </div>
            
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-block">
                    Guardar
                </button>
            </div>

        </form>
    </div>
</div>
{% endblock %}