{% extends 'Layout.html' %} {% block body%}


<div class="row">
    <div class="col-md-5">

        {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %} {% endif %} {% endwith %}

        <div class="card card-body">
            <form action="/AddCliente" method="POST">

                <div class="form-group">
                    <input type="text" name="Nombre" placeholder="Nombre" class="form-control" required>
                </div>

                <div class="form-group">
                    <input type="text" name="Razon" placeholder="Razon Social" class="form-control" required>
                </div>

                <div class="form-group">
                    <input type="number" name="Limite" placeholder="Limite de Crédito" class="form-control" required>
                </div>

                <div class="form-group">
                    <input type="text" name="Rfc" placeholder="RFC" maxlength="13" class="form-control" required>
                </div>
                <div class="form-group">
                    <input type="email" name="Email" placeholder="Email" class="form-control" required>
                </div>

                <div class="form-group">
                    <input type="password" name="Password" placeholder="Password" class="form-control" maxlength="15" required>
                </div>

                <div class="form-group">
                    <input type="text" maxlength="10" name="Telefono" placeholder="Teléfono" class="form-control" required>
                </div>

                <div class="form-group">
                    <select class="form-control" name="Tipo" id="Tipo">
                        <option value="A" selected>Agricultor</option>
                        <option value="T" selected>Tienda</option>
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-block">
                        Guardar
                    </button>
                </div>

            </form>
        </div>
    </div>

    <div class="col-md-7">
        <table class="table table-striped table-bordered bg-white table-sm">
            <thead>
                <tr>
                    <td>Nombre</td>
                    <td>RazonSocial</td>
                    <td>Credito</td>
                    <td>Rfc</td>
                    <td>Email</td>
                    <td>Password</td>
                    <td>Telefono</td>
                    <td>Tipo</td>
                </tr>
            </thead>
            <tbody>
                {% for cli in Cliente %}
                <tr>
                    <td>{{cli.Nombre}}       </td>
                    <td>{{cli.RazonSocial}}       </td>
                    <td>{{cli.LimiteCredito}}       </td>
                    <td>{{cli.Rfc}}       </td>
                    <td>{{cli.Email}}       </td>
                    <td>{{cli.Password}}       </td>
                    <td>{{cli.Telefono}}       </td>
                    <td>{{cli.Tipo}}       </td>
                    <td>
                        <a href="/EditCliente/{{cli.IdCliente}}" class="btn btn-warning btn-block">Editar</a>
                        <a href="/DeleteCliente/{{cli.IdCliente}}" class="btn btn-danger btn-block btn-delete">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}